@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');

*{ 
    font-family: 'Andika-Bond' , sans-serif;
}
@font-face {
    font-family: 'Andika-Bold';
    src: url(Andika-Bold.ttf) format('truetype');
}

/* BANNER */
nav {
    float: right;
    width: 50%;
    text-align: right;
    margin: 0 2% 0;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
}

.logo {
    width: 15%;
}

/* Photo and text */

main {
    width: 100%;
    min-height: 100px;
    height: 400px;
}

#fotohome {
    height: 400px;
    float: left;
    border-radius: 5%;
    margin: 0 5% 0 3%;
}

#fotohome:hover{
    cursor:default;    
    box-shadow: 0 0.4rem 1.4rem 0 #F6AD48;
    transition: transform 350ms;
    transform: scale(1.03);
}

#textbox {
    width: 37%;
    height: 340px;
    float: left;
    background-color: #F6AD48;
    padding: 30px;
    border-radius: 5%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* BOXFOTO */
#paginas {
    margin: 5% 0 0 0;
    width: 100%;
    min-height: 200px;
    background: lime;
}

.box {
    width: 15%;
    float: left;
    height: 600px;
    margin: 0 10% 0 0;
    background-color: #F6AD48;
    border-radius: 5%;
}

.boxfoto {
    height: 350px;
    width: 100%;
}