body{
    background-color: white;
}





/* Begin Navbar */

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.banner{
    width: 100%;
    height: 100vh;
    /* background-color: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)); */
    background-size: cover;
    background-position: center;
}
.navbar{
    width: 95%;
    margin: auto;
    padding: 35px 5;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 200px;
    cursor: pointer;
    z-index: 1;
    margin-top: 25px;
    width: 150px;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #F6AD48;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
    /* Einde Navbar */

    /* Begin Footer */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');

:root {
    --color-neutral-0: #0e0c0c;
    --color-neutral-10: #171717;
    --color-neutral-30: #a8a29e;
    --color-neutral-40: #f5f5f5;

}

* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
}

main {
    height: 80vh;
}

footer {
    width: 100%;
    color: var(--color-neutral-40);
}

.footer-link {
    text-decoration: none;
}

#footer_content {
    background-color: var(--color-neutral-10);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;
}

#footer_contacts h1 {
    margin-bottom: 0.75rem;
}

#footer_social_media {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
} 

#footer_social_media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-neutral-40);
    border-radius: 50%;
    transition: all 0.4s;
}

#footer_social_media .footer-link i {
    font-size: 1.25rem;    
}

#footer_social_media .footer-link:hover {
    opacity: 0.8;
}

#instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook {
    background-color: #4267b3;
}

#whatsapp {
    background-color: #25d366;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

.footer-list .footer-link {
    color: var(--color-neutral-30);
    transition: all 0.4s;
}

.footer-list .footer-link:hover {
    color: #F6AD48;
}

#footer_subscribe {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#footer_subscribe p {
    color: var(--color-neutral-30);
}

#input_group {
    display: flex;
    align-items: center;
    background-color: var(--color-neutral-0);
    border-radius: 4px;
}

#input_group input {
    all: unset;
    padding: 0.75rem;
    width: 100%;
}

#input_group button {
    background-color: #F6AD48;
    border: none;
    color: var(--color-neutral-40);
    padding: 0px 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.4s;
}

#input_group button:hover {
    opacity: 0.8;
}

#footer_copyright {
    display: flex;
    justify-content: center;
    background-color: var(--color-neutral-0);
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
}

@media screen and (max-width: 768px) {
    #footer_content {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media screen and (max-width: 426px) {
    #footer_content {
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
    }
}

    /* Eind Footer */



    .day_box_container {
        display: flex;
        flex-wrap: wrap; /* Allow wrapping to next line */
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        margin-bottom: 50px;
        width: 80%;
        background-color: orange;
        margin-left: auto;
        margin-right: auto;
        border-radius: 5px;
        padding: 10px;
        box-sizing: border-box; /* Include padding in total width */
    }
    
    .day_box {
        display: flex;
        flex-direction: column;
        background-color: white;
        margin: 10px;
        border-radius: 2px;
        border: 1px solid black;
        padding: 10px;
        flex: 1 0 calc(100% / 4); /* Distribute equally into 7 columns */
        max-width: calc(100% / 4); /* Set max-width for each day box */
        box-sizing: border-box; /* Include padding in total width */
    }
    
    .day_name {
        font-weight: bold;
        text-align: center;
    }
    
    .pill_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }
    
    .pill {
        display: flex;
        align-items: center;
        margin-bottom: 5px;
    }
    
    .pill_naam,
    .pill_amount {
        background-color: white;
        border-radius: 2px;
        border: 1px solid black;
        padding: 5px;
        text-align: center;
        box-sizing: border-box; /* Include padding in total width */
        margin: 5px;
    }
    
 
    